/* .sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar > button {
  background: none;
  padding: 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.sidebar > button.active {
  border-left: 3px solid red;
  color: red;
}

.sidebar > button svg {
  font-size: 1.5rem; 
}

 */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0px;
}

.sidebar > button {
  background: none;
  padding: 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  color: black;
  position: relative;
}

.sidebar > button.active {
  color: red;
}

.sidebar > button.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: red;
}
