/* src/App.css */
.App {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s;
}

@media (max-width: 767px) {
  .content {
    margin-left: 0;
  }

  .sidebar.open + .content {
    margin-left: 250px;
  }
}



/* #root {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 18%;
  gap: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.navbar.hidden {
  transform: translateX(-100%);
}

.hamburger {
  display: none;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.rightside {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar {
    width: 70%;
    position: fixed;
    z-index: 1000;
    background: #fff;
    height: 100%;
    transform: translateX(-100%);
  }
  
  .hamburger {
    display: block;
  }
  
  .rightside {
    padding: 20px 10px;
  }
} */





/* #root {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 18%;
  gap: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.active {
  text-decoration: none;
  padding-left: 5px;
}

.default {
  text-decoration: none;
}

.rightside {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
} */
